.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.achieved {
    &-title{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 21px;
    }
    &-result {
        justify-content: center;

        &-image{
            // background-image: url("https://www.hongphucland.com/public/slide/files/Scenia-Bay-Nha-Trang-background1.jpg");
            background-size: cover;
            min-width: 370px !important;
            min-height: 260px !important;
            max-width: 370px !important;
            max-height: 260px !important;
            margin: 0 20px;
            position: relative;
            .text-on-bg{
                color: white;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                position: absolute;
                left: 8%;
                top: 9%;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}

.input-noFocus:enabled:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.button-noFocus:focus {
    box-shadow: none;
}

.chart-center {
    text-align: -webkit-center;
}

.padding-left-60 {
    padding-left: 60%;
}

.custom-button {
    border-radius: 20px;
}

.font-sans {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}