.Dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    user-select: none;
    top: -1px;
    &-control {
        border-radius: 5px;
        width: 150px;
    }
    &-placeholder {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
        text-overflow: ellipsis;
        cursor: pointer;
        line-height: 20px;
    }
    &-control {
        border-radius: 20px !important;
    }
    &-arrow {

    }
    &-menu {
        border-radius: 20px;
    }

    ::-webkit-scrollbar {
        width: 15px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #DBDBDB; 
        border-radius: 10px;
      }

}