$url: "../asset/image/";
$url-home: "../asset/image-home-page/";

.background-test {
    background-image: url($url + "BackgroundTest.jpg")
}

.logo {
    background-image: url($url + "Logo.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}

.highlight-project {
    &-one {
      background-image: url($url + "highlight-project-1.jpg");
    }
}

.background-footer {
    background-image: url($url + "background-footer.jpg");
}

.img-sai-gon-1 {
    background-image: url($url + "Saigon1.jpg");
}

.img-ha-noi-1 {
    background-image: url($url + "Hanoi1.jpg");
}

.img-da-nang-1 {
    background-image: url($url + "Danang1.jpg");
}

.img-binh-duong-1 {
    background-image: url($url + "Binhduong1.jpg");
}

.img-dong-nai-1 {
    background-image: url($url + "DongNai1.jpg");
}
.img-hai-phong-1 {
    background-image: url($url + "HaiPhong1.jpg");
}

.img-sai-gon-2 {
    background-image: url($url + "Saigon2.jpg");
}

.img-ha-noi-2 {
    background-image: url($url + "Hanoi2.jpg");
}

.img-da-nang-2 {
    background-image: url($url + "Danang2.jpg");
}

.img-binh-duong-2 {
    background-image: url($url + "Binhduong2.jpg");
}

.img-dong-nai-2 {
    background-image: url($url + "DongNai2.jpg");
}
.img-hai-phong-2 {
    background-image: url($url + "HaiPhong2.jpg");
}

.img-sai-gon-3 {
    background-image: url($url + "Saigon3.jpg");
}

.img-ha-noi-3 {
    background-image: url($url + "Hanoi3.jpg");
}

.img-da-nang-3 {
    background-image: url($url + "Danang3.jpg");
}

.img-binh-duong-3 {
    background-image: url($url + "Binhduong3.jpg");
}

.img-dong-nai-3 {
    background-image: url($url + "DongNai3.jpg");
}
.img-hai-phong-3 {
    background-image: url($url + "HaiPhong3.jpg");
}


