.table-data {
    margin: 5%;
    .p-datatable-thead {
        tr {
            font-size: 14px;
            th {
                text-align: center;
                width: 10%;
                padding: 12px;
                background-color: #6F7BD9;
                color: white;
                &:first-child {
                    border-radius: 10px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 10px 0 0;
                }
            }

            
        }
        
    }
    .p-datatable-tbody {
        tr {
            font-size: 12px;
            td {
                text-align: center;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}