.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.user-management {
  
}
.form-edit-user {
  display: flex;
  flex-flow: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 12px;
}