.ai-seller {
  .search {
    padding: 20px;
    text-align: center;
    .Dropdown {
        height: 40px;
        &-provinces {
        }
    }
    .result-found {
        text-align: center;
    }
  }
  .flex {
    display: flex;
    place-content: space-around;
    .card {
      padding: 20px;
      display: contents;
    }
  }
}

