.ai-seller {
  .search {
    padding: 20px;
    text-align: center;
    .Dropdown {
        height: 40px;
        &-provinces {
        }
    }
    .result-found {
        text-align: center;
    }
  }
}

